button {
    margin-right: 8px;
  }

  .clearC {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
  }

  .clearC button {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    border: none;
    margin-top: -15px;
    background-color: rgb(228, 228, 228);
}

.clearC button:hover {
  box-shadow: 1px 1px 3px rgb(110, 110, 110);
}

.clear fa-icon {
    font-size: 1.5em;
    color: #535353;
}

  .search {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }
  .search  input{      
    width: 25rem;
    height: 2rem;
    padding-left: 9px;
    border: 1px solid #696969;
    outline: 0;
    box-shadow: 1px 1px 3px rgb(110, 110, 110);
  }

  .conteiner-for {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  /* .conteiner input {
    width: 1rem;
  } */

  .conteiner label {
    font-size: 1.3em;
    font-weight: 400;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 90%;
    height: 55%; 
  }

  .inputs input{
    margin-left: 10px;
     background-color: #bebebe52;
     width: 90%;
     height: 40px;
     margin-top: 5px;
     padding-left: 9px;
     padding-right: 9px;
     border: 0;
     margin: 6px;
     outline: 0;   
 
 }

 .buttons {
  margin-top: 20px;
 }

 .buttons button {
  width: 80px;
  height: 26px;
  background-color: #1C6758;
  border: none;
  color: white;
  letter-spacing: 1.5px;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
 }

 .buttons button:last-child {
  background-color: #ffffff;
  border: solid 1px #000;
  color: #000;
  font-weight: 500;
 }
 .buttons button:hover {
  box-shadow: 1px 1px 3px rgb(110, 110, 110);
}

.validation  {
  border-left: solid 2.5px red;
  height: 16px;
  margin: 3px;
}

.validation p {
  color: red;
  margin-left: 5px;
}

.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    width: 90%;
    height: 70%; 
    /* background-color: red; */
}

.form-group input, select{
   margin-left: 10px;
    background-color: #bebebe52;
    width: 90%;
    height: 40px;
    margin-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border: 0;
    margin: 6px;
    outline: 0;   

}
.form-group .datePicker {
    width: 40%;
    margin-left: 13px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

mat-form-field {
  margin-left: -11.3rem;
}
