
<div class="clearC">
  <h1 mat-dialog-title>Adicionar membro.</h1>
  <button class="clear" (click)="closeDialog()">
      <fa-icon [icon]="faXmark"></fa-icon>
  </button>
</div>
<div class="validation" *ngIf="validation">
  <p>{{validationText}}</p>
</div>  
<div class="search">
    <input type="text" name="search" id="" (input)="searchs($event)" placeholder="Pesquise por um membro.">
</div>
<form [formGroup]="memberForm">
  <div >
    <div class="conteinerMember" *ngFor="let item of userData">
      <label *ngIf="item.member">
        <input type="checkbox" formControlName="memberList" (change)="onchange($event, item)"> {{item.name}}
      </label>
    </div>   
  </div>
</form>