<div class="container">
    <div class="card">
        <div class="headerContent">
            <div class="title">
                <h1>{{cardData.title!}}</h1>
                <p>Na lista: {{cardData.tag}}</p>
            </div>
            <div class="clearC">
                <button class="clear" (click)="refresh()">
                    <fa-icon [icon]="faArrowsRotate"></fa-icon>
                </button>
                <button class="clear" routerLink="/">
                    <fa-icon [icon]="faXmark"></fa-icon>
                </button>
            </div>
        </div>
        <cdk-virtual-scroll-viewport class="viewPort" itemSize="1">
            <div class="conteinerContent">
                <div class="vewContent">
                    <div class="header">
                        <h3>Data de entrega</h3>
                        <p>{{cardData.delivery_date!.toLocaleString('pt-BR').substring(0 ,
                            10).split('-').reverse().join('/')}}</p>
                    </div>
                    <form [formGroup]="viewForm" #formG="ngForm">
                        <div class="formGroup">
                            <div class="btnEditDesc">
                                <h2>Descrição</h2>
                                <button (click)="showDesc()">
                                    <fa-icon [icon]="faPen"></fa-icon>
                                </button>
                            </div>
                            <div class="descDiv" *ngIf="cardData.description && !nShowDesc ">
                                <p>{{cardData.description}}</p>
                            </div>
                            <div class="editDesc" *ngIf="nShowDesc || !cardData.description">
                                <textarea type="text" placeholder="Escreva uma descrição mais detalhada..."
                                    class="descriptionText" formControlName="description"
                                    [ngModel]="cardData.description"></textarea>
                                <div class="buttons">
                                    <button (click)="putDescription()" type="submit">
                                        <fa-icon [icon]="faFloppyDisk"></fa-icon> Salvar
                                    </button>
                                    <button (click)="noShowDesc()" type="submit">
                                        <fa-icon [icon]="faXmark"></fa-icon> Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- CHECKLIST -->
                        <div *ngIf="listData.length > 0">
                        <div class="formGroup" >
                            <h2>Checklist</h2>
                            <div class="content-list-task" *ngFor="let list of listData">
                                <div class="title-list-task">
                                    <div *ngIf="!showEditList; else editList">
                                        <h1>{{list.title}}</h1>
                                    </div>
                                    <ng-template #editList >
                                        <div class="editList">
                                            <input type="text" name="titleList" formControlName="titleList"
                                        [ngModel]="list.title"
                                        >
                                        <div class="buttons">
                                            <button (click)="editLists(list._id)" type="submit">
                                                <fa-icon [icon]="faFloppyDisk"></fa-icon> Salvar
                                            </button>
                                            <button (click)="noShowEList()" type="submit">
                                                <fa-icon [icon]="faXmark"></fa-icon> Cancelar
                                            </button>
                                        </div>
                                        </div>                                        
                                    </ng-template>
                                    <div *ngIf="!showEditList" class="buttons-action">
                                        <button (click)="showEList()">
                                            <fa-icon [icon]="faPen"></fa-icon>
                                        </button>
                                        <button (click)="deleteList(list._id)">
                                            <fa-icon  [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </div>                                
                                </div>
                                <div class="card-task"*ngFor="let task of tasks[list._id]">
                                    <div class="title-task">
                                        <input type="checkbox" name="task" id="task">
                                        <label>{{task.titleTask}}</label>
                                    </div>
                                    <div class="info-tasks" *ngIf="task.delivery_date; else noDate">
                                       <button><span class="spanTask">{{task.delivery_date.toLocaleString('pt-BR').substring(0 ,
                                            10).split('-').reverse().join('/')}}</span></button> 
                                           <button> <span>{{task.member}}</span></button>
                                    </div>
                                        <ng-template #noDate>                                           
                                            <button><fa-icon [icon]="faPen"></fa-icon></button>
                                        </ng-template>
                                </div>
                                <div class="addNewList">                                    
                                    <button (click)="openDialogTask('400ms', '400ms', list._id)">
                                        <fa-icon  [icon]="faPlus"></fa-icon>
                                        Adicionar novo item
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- ARQUIVOS -->
                        <div class="file-class" *ngIf="cardData.files.length > 0">
                            <h1>Arquivos</h1>
                            <div *ngFor="let file of cardData.files" class="file-contianer">
                                <div class="file-img"
                                    *ngIf="file.detail.type === '.jpg' || '.png' || '.jpeg'; else noImage">
                                    <img src="{{file.detail.location}}" alt="Imagem do arquivo">
                                </div>
                                <ng-template class="file-contianer" #noImage>
                                    <div class="file-img">
                                        <img src="../../../assets/Arquivo.jpg" alt="Imagem do arquivo">
                                    </div>
                                </ng-template>
                                <div class="file-content">
                                    <div class="file-title">
                                        <h2>{{file.detail.originalname}}</h2>
                                    </div>
                                    <div class="file-desc">
                                        <h4>Adiconado em: {{file.created_at.toLocaleString('').substring(0 ,
                                            10).split('-').reverse().join('/')
                                            }}</h4>
                                        <div class="file-buttons">
                                            <a href="{{file.detail.location}}" target="_blank">Download</a>
                                            <button>Editar</button>
                                            <button
                                                (click)="deleteArch(file.detail.key, cardData._id, file.idFile)">Excluir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- COMENTÁRIOS -->
                        <div class="formGroup">
                            <h2>Comentários - {{cardData.comments.length}}</h2>
                            <input type="text" placeholder="Escreva uma comentário..." class="comment"
                                formControlName="comment" />
                            <div class="buttons">
                                <button type="submit" (click)="addComments()">
                                    <fa-icon [icon]="faFloppyDisk"></fa-icon> Salvar
                                </button>
                                <button type="submit">
                                    <fa-icon [icon]="faXmark"></fa-icon> Cancelar
                                </button>
                            </div>
                        </div>
                        <div class="commentUsers" *ngFor="let commentUser of cardData.comments">
                            <div class="container-comment">
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar"><img src="../../../assets/663338.png" alt=""></div>
                                    <!-- Contenedor del Comentario -->

                                </div>
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <div class="comment-conteiner">
                                            <div>
                                                <h6 class="comment-name by-author">{{commentUser.userName}}</h6>
                                                <span>Em: {{commentUser.created_At.toLocaleString('pt-BR').substring(0 ,
                                                    10).split('-').reverse().join('/')}}</span>
                                            </div>
                                            <div class="buttonsComment">
                                                <!-- <button type="submit" (click)="openeditComment()">
                                                    <fa-icon [icon]="faPen"></fa-icon> Editar
                                                </button> -->
                                                <button type="submit" (click)="deleteComment(commentUser.idComment)">
                                                    <fa-icon [icon]="faXmark"></fa-icon> Excluir
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <p type="text" class="comment-content" *ngIf="!showComment">{{commentUser.comment}}
                                    </p>
                                    <!-- <div class="editComment" *ngIf="showComment">
                                        <textarea type="text" class="comment-content"
                                        value="{{commentUser.comment}}"></textarea>
                                        <button>Salvar</button>
                                        <button (click)="unshoweditComment()">Cancelar</button>
                                    </div>                                     -->
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <!-- MEMBROS -->
                <div class="addContent">
                    <h3>Adiconar ao Cartão</h3>
                    <button (click)="openDialogMember('400ms', '400ms')">Membros</button>
                    <button (click)="openDialogList('400ms', '400ms')">CheckList</button>
                    <button (click)="openDialogAnexo('400ms', '400ms')">Anexo</button>
                    <div class="member">
                        <h3>Membros</h3>
                        <div class="memberesConteiner">
                            <div class="members" *ngFor="let member of cardData.members">
                                <div class="buttom-member">
                                    <button>{{member.MemberName}}</button><button
                                        (click)="deleteMember(cardData._id, member.idMember)"><fa-icon
                                            [icon]="faTrashAlt"></fa-icon> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>