.container {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

.card {
    background-color: #ececec;
    width: 70%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 2px 3px 5px #52525252;
    /* background-color: #a5a5a552; */
}

.headerContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    box-shadow: 2px 3px 5px #919191;
}

.clearC button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    border: none;
    margin-left: 10px;
    background-color: white;
}

.clear fa-icon {
    font-size: 2em;
    color: #535353;
}

.viewPort {
    width: 100%;
    height: 400px;
}

.conteinerContent {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.title h1 {
    margin-bottom: -3px;
    font-size: 2em;
    font-weight: 500;
    color: #020202;
}

.title p {
    margin-left: 5px;
}

.header h3 {
    margin-bottom: -5px;
    font-weight: 500;
    color: #6e6e6e;
    font-size: 1em;
}

.header p {
    background-color: #ebebeb;
    width: 90px;
    text-align: center;
}

.addContent {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.addContent h3 {
    margin-bottom: -5px;
    font-weight: 500;
    color: #6e6e6e;
}

.addContent button {
    margin-top: 5px;
    height: 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: white;
}

.addContent button:hover {
    box-shadow: 2px 3px 5px #919191;
}


.vewContent {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.formGroup {
    margin-bottom: 10px;
}

.formGroup h2 {
    margin-bottom: -3px;
}

.formGroup .descriptionText {
    width: 100%;
    height: 80px;
    background-color: white;
    border: none;
    outline: 0;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.comment {
    height: 40px;
    width: 100%;
    background-color: white;
    border: none;
    outline: 0;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.buttons>button {
    padding: 3px;
    border-radius: 2px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: white;

}

.buttonsComment button {
    padding: 3px;
    border-radius: 2px;
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: white;
    font-size: 0.8em;
    color: #03658c;
}

.buttonsComment>button:last-child {
    margin-left: 5px;
    color: #8c0337;
}

.buttonsComment>fa-icon {
    font-size: 0.8em;
}

.formGroup:last-child {
    margin-top: 30px;
}

.checkList {
    margin-top: 30px;
}


.buttons button:last-child {
    margin-left: 10px;
}

.member button {
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    background-color: rgb(111, 184, 150);
    font-size: 1.1em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;

}

.member button:hover {
    background-color: rgb(95, 158, 129);
}

.memberesConteiner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.buttom-member {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttom-member button:last-child {
    /* margin-left: 0px; */
    background-color: white;
    font-size: 1em;
    border: 1px solid rgb(118, 187, 135);
    width: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0;
    color: #020202;
}

.buttom-member button:last-child:hover {
    /* margin-left: 0px; */
    color: rgb(184, 114, 114);

}

/* .member button:last-child {    
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #c9c9c9; 
} */

.commentUsers {
    display: flex;
    flex-direction: column;
}

.commentUsers h3 {
    margin-bottom: -5px;
    font-size: 1em;
    font-weight: 500;
}

.commentUsers>textarea {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(90, 172, 90, 0.226);
    padding: 5px;
    margin-bottom: 5px;
}

.descDiv {
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}


.btnEditDesc {
    display: flex;
    align-items: center;
}

.btnEditDesc button {
    margin-left: 10px;
    border: 0;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .editDesc input, .descDiv p {
   
} */

.checkbox {
    width: 25px;
    background-color: rgb(93, 173, 93);
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(2, 68, 13, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}



/* ===========================*/



.container-comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

/**
 * Lineas / Detalles
 -----------------------*/
/**
 * Avatar
 ---------------------------*/
.comment-avatar {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/**
 * Caja del Comentario
 ---------------------------*/
.comment-box {
    width: 85%;
    float: right;
    position: relative;
    margin-top: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comment-box:before,
.comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

/* .reply-list .comment-box {
	width: 610px;
} */

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    height: 35px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
    letter-spacing: 1px;
}

.comment-box .comment-name a {
    color: #283035;
    letter-spacing: 1px;
}

.comment-box .comment-head span {
    float: left;
    position: relative;
    background: #038c53;
    color: #FFF;
    font-size: 12px;
    padding: 0px 5px;
    font-weight: 500;
    margin-right: 10px;
    border-radius: 5px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    width: 100%;
    border: 0;
    outline: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #038c53;
}

.comment-box .comment-name.by-author:after {
    /* content: 'Criando em:'; */
    background: #038c53;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 500;
    margin-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.comment-conteiner {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

.file-contianer {
    width: 100%;
    /* height: 6rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 0.7px rgb(172, 172, 172);
    margin-bottom: 5px;
}

.file-content {
    width: 100%;
    /* height: 6rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
}

.file-class > h1 {
    margin-bottom: -3px;
}

.file-img {
    /* background-color: #A6A6A6; */
    width: 5.6rem;
    /* height: 5.6rem; */
}

.file-img img {
    width: 5.6rem;
    /* height: 5.6rem; */
}

.file-img > button {
   border: 0;
    /* height: 5.6rem; */
}

.file-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: -15px;
}

.file-desc {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.file-desc h4 {
    margin-top: 10px;
}

.file-buttons {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.file-buttons>a,
button {
    border: none;
    border-bottom: solid 1px grey;
    cursor: pointer;
    background-color: transparent;
    color: #000;
}

.file-buttons>a:hover,
button:hover {
    box-shadow: none;
    color: rgb(177, 177, 177);
}

.content-list-task {
    background-color: #d8d8d8;
    padding: 5px;
    margin-top: 5px;
}

 .card-task {
    background-color: #fafafa;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(155, 155, 155);
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
   }

   .completed {
    background-color: #b3e0ce98;    
    text-decoration: line-through;
   }
   /* .card-task > ng-template {
    background-color: red;
   } */

.title-list-task {    
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
}

.title-list-task button {
    margin-left: 10px;
    border: 0;
    outline: none;
    margin-top: -15px;
    border-radius: 5px;
}

.title-list-task h1{
    font-size: 1.3em;
    font-weight: 500;
    margin-right: 10px;
}

.title-task{
    display: flex;
    align-items: center

}
.title-task h3 {
    font-size: 1em;
   
}

.title-task label {
    margin-left: 2px;
    cursor: pointer;
}

.title-task button {
    border: 0;    
    width: 100%;
}
.title-task button:hover{
    color: #000;    
}

.complete {
   background-color: rgba(127, 209, 184, 0.596);
}
.info-tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
    padding-left: 5px;
    padding-right: 5px;
}

.info-tasks > button {
    border: none;
}


.info-tasks > span {
    font-size: 0.8em;
    margin-left: 6px;
    font-weight: 600;
 }
 
.button-tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
    padding-left: 5px;
    padding-right: 5px;
}

.button-tasks, .time {
    /* margin-left: 10px; */
    color: #595959;
    margin-right: -380px;
    border: none;

}

.time2 {
    margin-right: -30px;
    border: none;
}

.button-tasks button:hover {
    color: #979797;
}

.button-tasks2{
    background-color: blue;
}

.buttons-action {
    margin-right: 10px;
}

.editList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 90%;
}

.editList input {
    border: none;
    width: 80%;  
    outline: none;  
    padding: 3px;
}

.editList button {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.8em;
}

.addNewList button {
    color: #038c53;
}

.mat-menu-content {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.mat-menu > button {
    border: none;
    margin-top: 6px;
    margin-left: -5px;
    color: #747474;
}

.mat-menu > button:hover {
    color: #333333;
}
.action-task {
    border: 0;
    cursor: pointer;
    background-color: red;

}