
<div class="clearC">
    <h1 mat-dialog-title>Adicionar arquivo.</h1>
    <button class="clear" (click)="closeDialog()">
        <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </div>
  <form>
    <div >
      <div class="validation" *ngIf="validation">
        <p>{{validationText}}</p>
      </div>
      <div class="conteinerFile">
          <input type="file"  (change)="onFileSelected($event)">
      </div> 
      <div  *ngIf="hasFile()" class="importedTilte">
        <h2>Arquivo importado!</h2> 
        <button (click)=" upload(cardData._id)">Enviar</button>
      </div>
    </div>
  </form>